{% extends 'base.html' %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
					Добавить статью
				</h1>
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
                {% endfor %}
                <form action="{{ url_for('addPost' )}}" enctype="multipart/form-data" method="post" class="space-y-4 md:space-y-6">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.title.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{ form.title(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
                    </div>
                    <div>
                        {{form.text.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{ form.text(id="message", rows="4", class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder="Тело статьи...") }}
                    </div>
                    <div>
                        {{form.photo.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{ form.photo(class = "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none",type="file") }}
                        {% for error in form.photo.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.submit(class="w-full text-white bg-main/75 hover:bg-main focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center") }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
